/* Estilos gerais */

html, body {

    height: 100%;

    margin: 0;

}

body {

    font-family: Arial, sans-serif;

    background-color: #f0f0f0;

    display: flex;

    flex-direction: column;
}

.wrapper {

    flex: 1;

    display: flex;

    flex-direction: column;

}

/* Navbar */

.navbar {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px 0;

}

.navbar h1 {

    margin: 0;

    font-size: 24px;

}

.navbar ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    text-align: center;

}

.navbar ul li {

    display: inline-block;

    margin: 0 10px;

}

.navbar ul li a {

    display: block;

    color: white;

    text-decoration: none;

    padding: 10px 20px;

}

.navbar ul li a:hover {

    background-color: #555;

}

/* Conteúdo Principal */

.content {

    display: flex;

    flex-direction: row;

    padding: 20px;

}

.image-container { 
    display: flex;
    flex-direction: row; 
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
 

} 

.image-container a {
    text-decoration: none;
}

.image-container img { 
  width: 100px; /* Ajuste o tamanho das imagens conforme necessário */ 
  height: 100px; /* Mantém a altura igual à largura para garantir que as imagens sejam circulares */ 
  margin: 0 10px; 
  border-radius: 50%; /* Faz com que a imagem fique circular */ 
  object-fit: cover; /* Garante que a imagem preencha o círculo */ 
} 
.texto{
    margin-top: px;
    margin-right: px;
    margin-left: 255px;
}

/* Footer */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}


    