
Processos.html



/* Estilos gerais */

html, body {

height: 100%;

margin: 0;

}


body {

font-family: Arial, sans-serif;

background-color: #f0f0f0;

display: flex;

flex-direction: column;

}


.wrapper {

flex: 1;

display: flex;

flex-direction: column;

}


/* Navbar */

.navbar {

background-color: #333;

color: white;

text-align: center;

padding: 10px 0;

}


.navbar h1 {

margin: 0;

font-size: 24px;

}


.navbar ul {

list-style-type: none;

margin: 0;

padding: 0;

text-align: center;

}


.navbar ul li {

display: inline-block;

margin: 0 10px;

}


.navbar ul li a {

display: block;

color: white;

text-decoration: none;

padding: 10px 20px;

}


.navbar ul li a:hover {

background-color: #555;

}


/* Conteúdo Principal */

.content {

display: flex;

flex-direction: row;

padding: 20px;

}



/* Estilos para Quadros */


main {

display: flex;

flex-direction: column;

align-items: center;

margin: 20px;

}

.quadro {

border: 1px solid #ccc;

padding: 20px;

margin: 10px;

width: 100vh;

box-shadow: 0px 5px 5px 0px #555;

}


.quadro h2 {

font-size: 24px;

color: #333;

}


.quadro p {

font-size: 16px;

line-height: 1.6;

color: #555;

}


.quadro img {

width: 400px;

height: 300px;

}


.ajuste {

margin-top: 85px;

}


/* Footer */

footer {

background-color: #333;

color: white;

text-align: center;

padding: 20px;

}


footer ul {

list-style-type: none;

margin: 0;

padding: 0;

}


footer ul li {

display: inline;

margin: 0 10px;

}


footer ul li a {

color: white;

text-decoration: none;

}


footer ul li a:hover {

text-decoration: underline;

}
